openapi: 3.0.1
info:
  title: Sidan API
  description: Backend API for sidan - JWT Bearer authentication
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  version: 3.0.0
servers:
  - url: https://api.chalmerslosers.com
    description: Production server
security:
  - BearerAuth: []
  - {}
paths:
  /file/image:
    post:
      summary: Upload an image
      tags:
        - files
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                  format: binary
                  description: Image file (gif, png, jpeg)
              required:
                - data
      responses:
        200:
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDescriptor'
        400:
          description: Bad request or unsupported file type
        401:
          description: Unauthorized - requires write:image scope
  /file/{filename}:
    get:
      summary: Get a static file
      tags:
        - files
      parameters:
        - name: filename
          in: path
          description: Filename of the static resource
          required: true
          schema:
            type: string
      responses:
        200:
          description: Static file served
        404:
          description: File not found
  /mail:
    post:
      summary: Send an email
      tags:
        - mail
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailDescriptor'
      responses:
        200:
          description: Email sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Result:
                    type: string
                    example: "ok"
        400:
          description: Bad request
        401:
          description: Unauthorized - requires write:email scope
  /db/entries:
    get:
      summary: List entries
      tags:
        - entries
      parameters:
        - name: skip
          in: query
          description: Number of entries to skip for pagination
          schema:
            type: integer
            format: int64
            default: 0
        - name: take
          in: query
          description: Number of entries to return
          schema:
            type: integer
            format: int64
            default: 20
      responses:
        200:
          description: List of entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entry'
    post:
      summary: Create a new entry
      tags:
        - entries
      description: Create a new guestbook entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entry'
      responses:
        200:
          description: Entry created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        400:
          description: Bad request
  /db/entries/{id}:
    get:
      summary: Get entry by ID
      tags:
        - entries
      parameters:
        - name: id
          in: path
          description: Entry ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Entry details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        404:
          description: Entry not found
    put:
      summary: Update an entry
      tags:
        - entries
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Entry ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entry'
      responses:
        200:
          description: Entry updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        401:
          description: Unauthorized - requires modify:entry scope
        404:
          description: Entry not found
    delete:
      summary: Delete an entry
      tags:
        - entries
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Entry ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Entry deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        401:
          description: Unauthorized - requires modify:entry scope
        404:
          description: Entry not found
  /db/entries/{id}/like:
    post:
      summary: Like an entry
      description: Add a like to an entry. Extracts member number from JWT token and records the like with timestamp and host.
      tags:
        - entries
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Entry ID to like
          required: true
          schema:
            type: integer
            format: int64
      responses:
        204:
          description: Entry liked successfully (no content)
        401:
          description: Unauthorized - requires authentication
        404:
          description: Entry not found
        500:
          description: Internal server error
  /db/members:
    get:
      summary: List members
      tags:
        - members
      description: Returns limited member data when unauthenticated, full data with read:member scope
      parameters:
        - name: onlyValid
          description: Only return valid members
          in: query
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: List of members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
    post:
      summary: Create a new member
      tags:
        - members
      security:
        - BearerAuth: []
      description: Create a new member - requires write:member scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
      responses:
        200:
          description: Member created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        401:
          description: Unauthorized - requires write:member scope
        400:
          description: Bad request
  /db/members/{id}:
    get:
      summary: Get member by ID
      tags:
        - members
      description: Returns limited member data when unauthenticated, full data with read:member scope
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Member details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        404:
          description: Member not found
    put:
      summary: Update a member
      tags:
        - members
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
      responses:
        200:
          description: Member updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        401:
          description: Unauthorized - requires write:member scope
        404:
          description: Member not found
    delete:
      summary: Delete a member
      tags:
        - members
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Member deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        401:
          description: Unauthorized - requires write:member scope
        404:
          description: Member not found
  /db/arr:
    get:
      summary: List events (arrangemang)
      tags:
        - arr
      parameters:
        - name: skip
          in: query
          description: Number of events to skip for pagination
          schema:
            type: integer
            format: int64
            default: 0
        - name: take
          in: query
          description: Number of events to return
          schema:
            type: integer
            format: int64
            default: 20
      responses:
        200:
          description: List of events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Arr'
    post:
      summary: Create a new event
      tags:
        - arr
      security:
        - BearerAuth: []
      description: Create a new event - requires write:arr scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Arr'
      responses:
        200:
          description: Event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Arr'
        401:
          description: Unauthorized - requires write:arr scope
        400:
          description: Bad request
  /db/arr/{id}:
    get:
      summary: Get event by ID
      tags:
        - arr
      parameters:
        - name: id
          in: path
          description: Event ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Arr'
        404:
          description: Event not found
    put:
      summary: Update an event
      tags:
        - arr
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Event ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Arr'
      responses:
        200:
          description: Event updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Arr'
        401:
          description: Unauthorized - requires write:arr scope
        404:
          description: Event not found
    delete:
      summary: Delete an event
      tags:
        - arr
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Event ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Event deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Arr'
        401:
          description: Unauthorized - requires write:arr scope
        404:
          description: Event not found
  /db/articles:
    get:
      summary: List articles (blaskan news)
      tags:
        - articles
      security:
        - BearerAuth: []
        - {}
      description: Returns articles - requires read:article scope for full access
      parameters:
        - name: skip
          in: query
          description: Number of articles to skip for pagination
          schema:
            type: integer
            format: int64
            default: 0
        - name: take
          in: query
          description: Number of articles to return
          schema:
            type: integer
            format: int64
            default: 20
      responses:
        200:
          description: List of articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Article'
    post:
      summary: Create a new article
      tags:
        - articles
      security:
        - BearerAuth: []
      description: Create a new article - requires write:article scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        200:
          description: Article created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        401:
          description: Unauthorized - requires write:article scope
        400:
          description: Bad request
  /db/articles/{id}:
    get:
      summary: Get article by ID
      tags:
        - articles
      security:
        - BearerAuth: []
        - {}
      description: Returns article - requires read:article scope
      parameters:
        - name: id
          in: path
          description: Article ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Article details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        401:
          description: Unauthorized - requires read:article scope
        404:
          description: Article not found
    put:
      summary: Update an article
      tags:
        - articles
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Article ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        200:
          description: Article updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        401:
          description: Unauthorized - requires write:article scope
        404:
          description: Article not found
    delete:
      summary: Delete an article
      tags:
        - articles
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Article ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Article deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        401:
          description: Unauthorized - requires write:article scope
        404:
          description: Article not found
  /auth/device:
    post:
      summary: Request device authorization code
      description: Initiates OAuth2 device flow for CLI and limited-input devices
      tags:
        - authentication
      parameters:
        - name: provider
          in: query
          description: OAuth2 provider (google, github)
          required: true
          schema:
            type: string
            enum: [google, github]
      responses:
        200:
          description: Device code created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_code:
                    type: string
                    description: Device code for token polling
                  user_code:
                    type: string
                    description: Human-friendly code (e.g., ABCD-1234)
                  verification_uri:
                    type: string
                    description: URL for user verification
                  expires_in:
                    type: integer
                    description: Seconds until code expires (600)
                  interval:
                    type: integer
                    description: Polling interval in seconds (5)
        400:
          description: Invalid request or unknown provider
  /auth/device/verify:
    get:
      summary: Device verification page
      description: Web page where users verify device codes
      tags:
        - authentication
      parameters:
        - name: code
          in: query
          description: User code (e.g., ABCD-1234)
          required: true
          schema:
            type: string
        - name: provider
          in: query
          description: OAuth2 provider
          required: true
          schema:
            type: string
      responses:
        200:
          description: Verification page displayed
          content:
            text/html:
              schema:
                type: string
        400:
          description: Invalid or expired code
  /auth/device/token:
    post:
      summary: Poll for device token
      description: Device polls this endpoint to check if user has authorized
      tags:
        - authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - device_code
                - grant_type
              properties:
                device_code:
                  type: string
                  description: Device code from /auth/device
                grant_type:
                  type: string
                  enum: ["urn:ietf:params:oauth:grant-type:device_code"]
      responses:
        200:
          description: Authorization complete, token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: JWT Bearer token
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
                    description: Token lifetime in seconds (28800)
        400:
          description: Pending authorization or error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum: [authorization_pending, expired_token]
                  error_description:
                    type: string
  /auth/login:
    get:
      summary: Initiate OAuth2 login
      description: Redirects to OAuth2 provider for authentication
      tags:
        - authentication
      parameters:
        - name: provider
          in: query
          description: OAuth2 provider (google, github)
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: Client redirect URI after auth
          schema:
            type: string
      responses:
        307:
          description: Redirect to OAuth2 provider
  /auth/callback:
    get:
      summary: OAuth2 callback
      description: Handles OAuth2 callback and issues JWT token
      tags:
        - authentication
      parameters:
        - name: state
          in: query
          required: true
          schema:
            type: string
        - name: code
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer
                  member:
                    type: object
                  scopes:
                    type: array
                    items:
                      type: string
        307:
          description: Redirect with token
        400:
          description: Invalid state or code
        403:
          description: Email not verified or not registered
  /auth/session:
    get:
      summary: Get current session
      description: Returns JWT claims and member info
      tags:
        - authentication
      security:
        - BearerAuth: []
      responses:
        200:
          description: Session information
          content:
            application/json:
              schema:
                type: object
                properties:
                  member:
                    type: object
                  scopes:
                    type: array
                    items:
                      type: string
                  provider:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  issued_at:
                    type: string
                    format: date-time
        401:
          description: Unauthorized
  /auth/refresh:
    post:
      summary: Refresh JWT token
      description: Generates new JWT with same scopes
      tags:
        - authentication
      security:
        - BearerAuth: []
      responses:
        200:
          description: New token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer
        401:
          description: Unauthorized
  /auth/logout:
    post:
      summary: Logout
      description: Ends authentication (JWT remains valid until expiry)
      tags:
        - authentication
      security:
        - BearerAuth: []
      responses:
        200:
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        401:
          description: Unauthorized
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token obtained from OAuth2 authentication flow (/auth/login?provider=google)
  schemas:
    FileDescriptor:
      type: object
      properties:
        filename:
          type: string
    MailDescriptor:
      type: object
      properties:
        from_email:
          type: string
          format: email
        to_emails:
          type: array
          items:
            type: string
            format: email
        message:
          type: string
        title:
          type: string
    Entry:
      type: object
      required:
        - msg
        - sig
      properties:
        id:
          type: integer
          format: int64
        date:
          type: string
          description: Date string
        time:
          type: string
          description: Time string
        datetime:
          type: string
          format: date-time
        msg:
          type: string
        status:
          type: integer
          format: int64
        cl:
          type: integer
          format: int64
        sig:
          type: string
        email:
          type: string
          format: email
        place:
          type: string
        ip:
          type: string
          nullable: true
        host:
          type: string
          nullable: true
        olsug:
          type: integer
          format: int64
        enheter:
          type: integer
          format: int64
        lat:
          type: number
          format: double
          nullable: true
        lon:
          type: number
          format: double
          nullable: true
        report:
          type: boolean
        likes:
          type: integer
          format: int64
        secret:
          type: boolean
        personal_secret:
          type: boolean
        sidekicks:
          type: array
          items:
            $ref: '#/components/schemas/SideKick'
    SideKick:
      type: object
      properties:
        id:
          type: integer
          format: int64
        number:
          type: string
    Member:
      type: object
      required:
        - number
      properties:
        id:
          type: integer
          format: int64
        number:
          type: integer
          format: int64
        name:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        im:
          type: string
        phone:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        address_url:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        history:
          type: string
          nullable: true
        picture:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
        is_valid:
          type: boolean
          nullable: true
        password_classic:
          type: string
          nullable: true
        password_classic_resetstring:
          type: string
          nullable: true
        password_resetstring:
          type: string
          nullable: true
    Arr:
      type: object
      properties:
        id:
          type: integer
          format: int64
        namn:
          type: string
          description: Name of the event
          nullable: true
        start_date:
          type: string
          description: Start date/time of the event
          nullable: true
        plats:
          type: string
          description: Location of the event
          nullable: true
        organisator:
          type: string
          description: Organizer (member number like #10)
          nullable: true
        deltagare:
          type: string
          description: Comma-separated list of participants
          nullable: true
        kanske:
          type: string
          description: Comma-separated list of maybe participants
          nullable: true
        hetsade:
          type: string
          description: Comma-separated list of invited/reminded members
          nullable: true
        losen:
          type: string
          description: Password for the event
          nullable: true
        fularr:
          type: string
          description: Flag indicating if event is marked as "fularr"
          nullable: true
    Article:
      type: object
      properties:
        id:
          type: integer
          format: int64
        header:
          type: string
          description: Article title/header
          nullable: true
        body:
          type: string
          description: Article body content
          nullable: true
        date:
          type: string
          format: date
          description: Publication date
          nullable: true
        time:
          type: string
          description: Publication time
          nullable: true
        datetime:
          type: string
          format: date-time
          description: Publication date and time
