openapi: 3.0.1
info:
  title: Sidan API
  description: Backend API for sidan - JWT Bearer authentication
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  version: 3.0.0
servers:
  - url: https://api.chalmerslosers.com
    description: Production server
security:
  - BearerAuth: []
  - {}
paths:
  /file/image:
    post:
      summary: Upload an image
      tags:
        - files
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                  format: binary
                  description: Image file (gif, png, jpeg)
              required:
                - data
      responses:
        200:
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDescriptor'
        400:
          description: Bad request or unsupported file type
        401:
          description: Unauthorized - requires write:image scope
  /file/{filename}:
    get:
      summary: Get a static file
      tags:
        - files
      parameters:
        - name: filename
          in: path
          description: Filename of the static resource
          required: true
          schema:
            type: string
      responses:
        200:
          description: Static file served
        404:
          description: File not found
  /mail:
    post:
      summary: Send an email
      tags:
        - mail
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailDescriptor'
      responses:
        200:
          description: Email sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Result:
                    type: string
                    example: "ok"
        400:
          description: Bad request
        401:
          description: Unauthorized - requires write:email scope
  /db/entries:
    get:
      summary: List entries
      tags:
        - entries
      parameters:
        - name: skip
          in: query
          description: Number of entries to skip for pagination
          schema:
            type: integer
            format: int64
            default: 0
        - name: take
          in: query
          description: Number of entries to return
          schema:
            type: integer
            format: int64
            default: 20
        - name: q
          in: query
          description: |
            RSQL filter query (requires JWT authentication). 
            Supports operators: == (equal), != (not equal), =gt= (greater than), =ge= (greater or equal), 
            =lt= (less than), =le= (less or equal), =like= (pattern match), =in= (in list), =out= (not in list).
            Logical operators: ; (AND), , (OR). Grouping with parentheses supported.
            
            Examples:
            - status==1
            - status==1;cl==5 (AND)
            - cl==5,cl==7 (OR)
            - (status==1;cl==5),place=like=Stockholm
            - likes=gt=10
            - secret==true
            
            Filterable fields:
            - Public: id, date, time, datetime, status, cl, place, olsug, enheter, report, likes, secret, personal_secret
            - Authenticated only: msg, sig, email
          schema:
            type: string
          required: false
      security:
        - BearerAuth: []
        - {}
      responses:
        200:
          description: List of entries
          content:
            application/json:
              schema:
                type: array
                items:
                   $ref: '#/components/schemas/Entry'
        400:
          description: Invalid filter query or unauthorized field access
        401:
          description: Authentication required to use query filters (q parameter)
    post:
      summary: Create a new entry
      tags:
        - entries
      description: Create a new guestbook entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entry'
      responses:
        200:
          description: Entry created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        400:
          description: Bad request
  /db/entries/{id}:
    get:
      summary: Get entry by ID
      tags:
        - entries
      parameters:
        - name: id
          in: path
          description: Entry ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Entry details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        404:
          description: Entry not found
    put:
      summary: Update an entry
      tags:
        - entries
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Entry ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entry'
      responses:
        200:
          description: Entry updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        401:
          description: Unauthorized - requires modify:entry scope
        404:
          description: Entry not found
    delete:
      summary: Delete an entry
      tags:
        - entries
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Entry ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Entry deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        401:
          description: Unauthorized - requires modify:entry scope
        404:
          description: Entry not found
  /db/entries/{id}/like:
    post:
      summary: Like an entry
      description: Add a like to an entry. Extracts member number from JWT token and records the like with timestamp and host.
      tags:
        - entries
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Entry ID to like
          required: true
          schema:
            type: integer
            format: int64
      responses:
        204:
          description: Entry liked successfully (no content)
        401:
          description: Unauthorized - requires authentication
        404:
          description: Entry not found
        500:
          description: Internal server error
  /db/members:
    get:
      summary: List members
      tags:
        - members
      description: Returns limited member data when unauthenticated, full data with read:member scope
      parameters:
        - name: onlyValid
          description: Only return valid members
          in: query
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: List of members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
    post:
      summary: Create a new member
      tags:
        - members
      security:
        - BearerAuth: []
      description: Create a new member - requires write:member scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
      responses:
        200:
          description: Member created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        401:
          description: Unauthorized - requires write:member scope
        400:
          description: Bad request
  /db/members/{id}:
    get:
      summary: Get member by ID
      tags:
        - members
      description: Returns limited member data when unauthenticated, full data with read:member scope
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Member details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        404:
          description: Member not found
    put:
      summary: Update a member
      tags:
        - members
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
      responses:
        200:
          description: Member updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        401:
          description: Unauthorized - requires write:member scope
        404:
          description: Member not found
    delete:
      summary: Delete a member
      tags:
        - members
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Member deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        401:
          description: Unauthorized - requires write:member scope
        404:
          description: Member not found
  /db/arr:
    get:
      summary: List events (arrangemang)
      tags:
        - arr
      parameters:
        - name: skip
          in: query
          description: Number of events to skip for pagination
          schema:
            type: integer
            format: int64
            default: 0
        - name: take
          in: query
          description: Number of events to return
          schema:
            type: integer
            format: int64
            default: 20
      responses:
        200:
          description: List of events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Arr'
    post:
      summary: Create a new event
      tags:
        - arr
      security:
        - BearerAuth: []
      description: Create a new event - requires write:arr scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Arr'
      responses:
        200:
          description: Event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Arr'
        401:
          description: Unauthorized - requires write:arr scope
        400:
          description: Bad request
  /db/arr/{id}:
    get:
      summary: Get event by ID
      tags:
        - arr
      parameters:
        - name: id
          in: path
          description: Event ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Arr'
        404:
          description: Event not found
    put:
      summary: Update an event
      tags:
        - arr
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Event ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Arr'
      responses:
        200:
          description: Event updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Arr'
        401:
          description: Unauthorized - requires write:arr scope
        404:
          description: Event not found
    delete:
      summary: Delete an event
      tags:
        - arr
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Event ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Event deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Arr'
        401:
          description: Unauthorized - requires write:arr scope
        404:
          description: Event not found
  /db/articles:
    get:
      summary: List articles (blaskan news)
      tags:
        - articles
      security:
        - BearerAuth: []
        - {}
      description: Returns articles - requires read:article scope for full access
      parameters:
        - name: skip
          in: query
          description: Number of articles to skip for pagination
          schema:
            type: integer
            format: int64
            default: 0
        - name: take
          in: query
          description: Number of articles to return
          schema:
            type: integer
            format: int64
            default: 20
      responses:
        200:
          description: List of articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Article'
    post:
      summary: Create a new article
      tags:
        - articles
      security:
        - BearerAuth: []
      description: Create a new article - requires write:article scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        200:
          description: Article created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        401:
          description: Unauthorized - requires write:article scope
        400:
          description: Bad request
  /db/articles/{id}:
    get:
      summary: Get article by ID
      tags:
        - articles
      security:
        - BearerAuth: []
        - {}
      description: Returns article - requires read:article scope
      parameters:
        - name: id
          in: path
          description: Article ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Article details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        401:
          description: Unauthorized - requires read:article scope
        404:
          description: Article not found
    put:
      summary: Update an article
      tags:
        - articles
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Article ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        200:
          description: Article updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        401:
          description: Unauthorized - requires write:article scope
        404:
          description: Article not found
    delete:
      summary: Delete an article
      tags:
        - articles
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Article ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Article deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        401:
          description: Unauthorized - requires write:article scope
        404:
          description: Article not found
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token obtained from OAuth2 authentication flow (/auth/login?provider=google)
  schemas:
    FileDescriptor:
      type: object
      properties:
        filename:
          type: string
    MailDescriptor:
      type: object
      properties:
        from_email:
          type: string
          format: email
        to_emails:
          type: array
          items:
            type: string
            format: email
        message:
          type: string
        title:
          type: string
    Entry:
      type: object
      required:
        - msg
        - sig
      properties:
        id:
          type: integer
          format: int64
        date:
          type: string
          description: Date string
        time:
          type: string
          description: Time string
        datetime:
          type: string
          format: date-time
        msg:
          type: string
        status:
          type: integer
          format: int64
        cl:
          type: integer
          format: int64
        sig:
          type: string
        email:
          type: string
          format: email
        place:
          type: string
        ip:
          type: string
          nullable: true
        host:
          type: string
          nullable: true
        olsug:
          type: integer
          format: int64
        enheter:
          type: integer
          format: int64
        lat:
          type: number
          format: double
          nullable: true
        lon:
          type: number
          format: double
          nullable: true
        report:
          type: boolean
        likes:
          type: integer
          format: int64
        secret:
          type: boolean
        personal_secret:
          type: boolean
        sidekicks:
          type: array
          items:
            $ref: '#/components/schemas/SideKick'
    SideKick:
      type: object
      properties:
        id:
          type: integer
          format: int64
        number:
          type: string
    Member:
      type: object
      required:
        - number
      properties:
        id:
          type: integer
          format: int64
        number:
          type: integer
          format: int64
        name:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        im:
          type: string
        phone:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        address_url:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        history:
          type: string
          nullable: true
        picture:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
        is_valid:
          type: boolean
          nullable: true
        password_classic:
          type: string
          nullable: true
        password_classic_resetstring:
          type: string
          nullable: true
        password_resetstring:
          type: string
          nullable: true
    Arr:
      type: object
      properties:
        id:
          type: integer
          format: int64
        namn:
          type: string
          description: Name of the event
          nullable: true
        start_date:
          type: string
          description: Start date/time of the event
          nullable: true
        plats:
          type: string
          description: Location of the event
          nullable: true
        organisator:
          type: string
          description: Organizer (member number like #10)
          nullable: true
        deltagare:
          type: string
          description: Comma-separated list of participants
          nullable: true
        kanske:
          type: string
          description: Comma-separated list of maybe participants
          nullable: true
        hetsade:
          type: string
          description: Comma-separated list of invited/reminded members
          nullable: true
        losen:
          type: string
          description: Password for the event
          nullable: true
        fularr:
          type: string
          description: Flag indicating if event is marked as "fularr"
          nullable: true
    Article:
      type: object
      properties:
        id:
          type: integer
          format: int64
        header:
          type: string
          description: Article title/header
          nullable: true
        body:
          type: string
          description: Article body content
          nullable: true
        date:
          type: string
          format: date
          description: Publication date
          nullable: true
        time:
          type: string
          description: Publication time
          nullable: true
        datetime:
          type: string
          format: date-time
          description: Publication date and time
