openapi: 3.0.1
info:
  title: Sidan API
  description: Backend API for sidan - JWT Bearer authentication
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  version: 3.0.0
servers:
  - url: https://api.chalmerslosers.com
    description: Production server
security:
  - BearerAuth: []
  - {}
paths:
  /file/image:
    post:
      summary: Upload an image
      tags:
        - files
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                  format: binary
                  description: Image file (gif, png, jpeg)
              required:
                - data
      responses:
        200:
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDescriptor'
        400:
          description: Bad request or unsupported file type
        401:
          description: Unauthorized - requires write:image scope
  /file/{filename}:
    get:
      summary: Get a static file
      tags:
        - files
      parameters:
        - name: filename
          in: path
          description: Filename of the static resource
          required: true
          schema:
            type: string
      responses:
        200:
          description: Static file served
        404:
          description: File not found
  /mail:
    post:
      summary: Send an email
      tags:
        - mail
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailDescriptor'
      responses:
        200:
          description: Email sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Result:
                    type: string
                    example: "ok"
        400:
          description: Bad request
        401:
          description: Unauthorized - requires write:email scope
  /db/entries:
    get:
      summary: List entries
      tags:
        - entries
      parameters:
        - name: skip
          in: query
          description: Number of entries to skip for pagination
          schema:
            type: integer
            format: int64
            default: 0
        - name: take
          in: query
          description: Number of entries to return
          schema:
            type: integer
            format: int64
            default: 20
        - name: q
          in: query
          description: RSQL filter expression (e.g. `sig==foo`, `olsug=gt=-1`, `sig==foo,sig==bar`)
          schema:
            type: string
      responses:
        200:
          description: List of entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entry'
    post:
      summary: Create a new entry
      tags:
        - entries
      description: Create a new guestbook entry. Sig and email are taken from the bearer token.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entry'
      responses:
        200:
          description: Entry created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        400:
          description: Bad request
  /db/entries/{id}:
    get:
      summary: Get entry by ID
      tags:
        - entries
      parameters:
        - name: id
          in: path
          description: Entry ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Entry details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        404:
          description: Entry not found
    put:
      summary: Update an entry
      tags:
        - entries
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Entry ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entry'
      responses:
        200:
          description: Entry updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        401:
          description: Unauthorized - requires modify:entry scope
        404:
          description: Entry not found
    delete:
      summary: Delete an entry
      tags:
        - entries
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Entry ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Entry deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        401:
          description: Unauthorized - requires modify:entry scope
        404:
          description: Entry not found
  /db/entries/{id}/like:
    post:
      summary: Like an entry
      description: Add a like to an entry. Extracts member number from JWT token and records the like with timestamp and host.
      tags:
        - entries
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Entry ID to like
          required: true
          schema:
            type: integer
            format: int64
      responses:
        204:
          description: Entry liked successfully (no content)
        401:
          description: Unauthorized - requires authentication
        404:
          description: Entry not found
        500:
          description: Internal server error
  /db/members:
    get:
      summary: List members
      tags:
        - members
      description: Returns limited member data when unauthenticated, full data with read:member scope
      parameters:
        - name: onlyValid
          description: Only return valid members
          in: query
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: List of members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
    post:
      summary: Create a new member
      tags:
        - members
      security:
        - BearerAuth: []
      description: Create a new member - requires write:member scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
      responses:
        200:
          description: Member created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        401:
          description: Unauthorized - requires write:member scope
        400:
          description: Bad request
  /db/members/{id}:
    get:
      summary: Get member by ID
      tags:
        - members
      description: Returns limited member data when unauthenticated, full data with read:member scope
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Member details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        404:
          description: Member not found
    put:
      summary: Update a member
      tags:
        - members
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
      responses:
        200:
          description: Member updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        401:
          description: Unauthorized - requires write:member scope
        404:
          description: Member not found
    delete:
      summary: Delete a member
      tags:
        - members
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Member deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        401:
          description: Unauthorized - requires write:member scope
        404:
          description: Member not found
  /db/prospects:
    get:
      summary: List prospects and suspects
      tags:
        - prospects
      security:
        - BearerAuth: []
        - {}
      description: Returns ProspectLite (id, status, number, history) when unauthenticated, full data with read:member scope. Filter by type with status=P (prospect) or status=S (suspect).
      parameters:
        - name: status
          in: query
          description: Filter by type - P (prospect) or S (suspect). Omit for all.
          schema:
            type: string
            enum: [P, S]
      responses:
        200:
          description: List of prospects/suspects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Prospect'
        401:
          description: Unauthorized - requires read:member scope
    post:
      summary: Create a new prospect or suspect
      tags:
        - prospects
      security:
        - BearerAuth: []
      description: Create a new prospect or suspect - requires write:member scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Prospect'
      responses:
        200:
          description: Prospect/suspect created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prospect'
        401:
          description: Unauthorized - requires write:member scope
  /db/prospects/{id}:
    get:
      summary: Get prospect or suspect by ID
      tags:
        - prospects
      security:
        - BearerAuth: []
        - {}
      description: Returns ProspectLite (id, status, number, history) when unauthenticated, full data with read:member scope.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Prospect/suspect details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prospect'
        401:
          description: Unauthorized - requires read:member scope
        404:
          description: Not found
    put:
      summary: Update a prospect or suspect
      tags:
        - prospects
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Prospect'
      responses:
        200:
          description: Prospect/suspect updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prospect'
        401:
          description: Unauthorized - requires write:member scope
        404:
          description: Not found
    delete:
      summary: Delete a prospect or suspect
      tags:
        - prospects
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Prospect/suspect deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prospect'
        401:
          description: Unauthorized - requires write:member scope
        404:
          description: Not found
  /db/arr:
    get:
      summary: List events (arrangemang)
      tags:
        - arr
      parameters:
        - name: skip
          in: query
          description: Number of events to skip for pagination
          schema:
            type: integer
            format: int64
            default: 0
        - name: take
          in: query
          description: Number of events to return
          schema:
            type: integer
            format: int64
            default: 20
      responses:
        200:
          description: List of events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Arr'
    post:
      summary: Create a new event
      tags:
        - arr
      security:
        - BearerAuth: []
      description: Create a new event - requires write:arr scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Arr'
      responses:
        200:
          description: Event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Arr'
        401:
          description: Unauthorized - requires write:arr scope
        400:
          description: Bad request
  /db/arr/{id}:
    get:
      summary: Get event by ID
      tags:
        - arr
      parameters:
        - name: id
          in: path
          description: Event ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Arr'
        404:
          description: Event not found
    put:
      summary: Update an event
      tags:
        - arr
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Event ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Arr'
      responses:
        200:
          description: Event updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Arr'
        401:
          description: Unauthorized - requires write:arr scope
        404:
          description: Event not found
    delete:
      summary: Delete an event
      tags:
        - arr
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Event ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Event deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Arr'
        401:
          description: Unauthorized - requires write:arr scope
        404:
          description: Event not found
  /db/articles:
    get:
      summary: List articles (blaskan news)
      tags:
        - articles
      security: []
      description: Returns articles - public endpoint
      parameters:
        - name: skip
          in: query
          description: Number of articles to skip for pagination
          schema:
            type: integer
            format: int64
            default: 0
        - name: take
          in: query
          description: Number of articles to return
          schema:
            type: integer
            format: int64
            default: 20
      responses:
        200:
          description: List of articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Article'
    post:
      summary: Create a new article
      tags:
        - articles
      security:
        - BearerAuth: []
      description: Create a new article - requires write:article scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        200:
          description: Article created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        401:
          description: Unauthorized - requires write:article scope
        400:
          description: Bad request
  /db/articles/{id}:
    get:
      summary: Get article by ID
      tags:
        - articles
      security: []
      description: Returns article - public endpoint
      parameters:
        - name: id
          in: path
          description: Article ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Article details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        401:
          description: Unauthorized - requires read:article scope
        404:
          description: Article not found
    put:
      summary: Update an article
      tags:
        - articles
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Article ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        200:
          description: Article updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        401:
          description: Unauthorized - requires write:article scope
        404:
          description: Article not found
    delete:
      summary: Delete an article
      tags:
        - articles
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Article ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Article deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        401:
          description: Unauthorized - requires write:article scope
        404:
          description: Article not found
  /repo/fdroid/upload:
    post:
      summary: Upload an APK to the F-Droid repository
      tags:
        - fdroid
      security:
        - BearerAuth: []
      description: >
        Uploads an APK file, parses its metadata, writes a sidecar, and regenerates
        the signed index-v1.jar. Requires the write:apk scope.
        Package name, version, SDK levels and permissions are extracted automatically.
        Supplementary fields are optional and can be updated by re-uploading.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                apk:
                  type: string
                  format: binary
                  description: APK file (must have .apk extension)
                name:
                  type: string
                  description: App display name
                summary:
                  type: string
                  description: One-line description shown in F-Droid
                description:
                  type: string
                  description: Full app description
                license:
                  type: string
                  description: SPDX license identifier (e.g. MIT, Apache-2.0)
                source_code:
                  type: string
                  description: URL to source code repository
                categories:
                  type: string
                  description: Comma-separated category list (e.g. "Utilities,Internet")
              required:
                - apk
      responses:
        201:
          description: APK uploaded, index regenerated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APKUploadResult'
        400:
          description: Missing file, wrong extension, or malformed request
        401:
          description: Unauthorized — requires write:apk scope
        422:
          description: File could not be parsed as a valid APK
  /repo/fdroid/{filename}:
    get:
      summary: Download a file from the F-Droid repository
      tags:
        - fdroid
      description: >
        Serves static files from the repository directory: index-v1.jar, index-v1.json,
        APK files, and icons. This is the endpoint the F-Droid client uses.
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
          description: File path relative to repo root (e.g. index-v1.jar, icons/com.example.app.png)
      responses:
        200:
          description: File contents
        404:
          description: File not found
  /auth/web/login:
    get:
      summary: Initiate OAuth2 web login
      tags:
        - auth
      security: []
      parameters:
        - name: provider
          in: query
          required: true
          schema:
            type: string
            description: OAuth2 provider name (e.g. google, github)
        - name: redirect_uri
          in: query
          description: Where to redirect after login with ?token=<JSON>
          schema:
            type: string
      responses:
        302:
          description: Redirect to provider login page
        400:
          description: Missing or unknown provider
  /auth/web/callback:
    get:
      summary: OAuth2 callback — exchanges code for sidan JWT and refresh token
      tags:
        - auth
      security: []
      parameters:
        - name: state
          in: query
          required: true
          schema:
            type: string
        - name: code
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        302:
          description: Redirect to redirect_uri with ?token=<JSON> if redirect_uri was provided
        400:
          description: Missing or invalid state/code
        403:
          description: Email not verified or not registered
  /auth/web/refresh:
    post:
      summary: Exchange a sidan refresh token for a new JWT (with token rotation)
      tags:
        - auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
      responses:
        200:
          description: New JWT and rotated refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        401:
          description: Invalid or expired refresh token
  /auth/web/logout:
    post:
      summary: Logout (JWT remains valid until expiry — discard client-side)
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        200:
          description: Logged out
        401:
          description: Unauthorized
  /auth/device/start:
    post:
      summary: Start device authorization flow
      tags:
        - auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - provider
              properties:
                provider:
                  type: string
                  description: OAuth2 provider name (e.g. google, github)
      responses:
        200:
          description: Device code and user instructions
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    type: string
                  user_code:
                    type: string
                  verification_url:
                    type: string
                  browser_url:
                    type: string
                  interval:
                    type: integer
                    description: Polling interval in seconds
                  expires_in:
                    type: integer
        400:
          description: Missing or unknown provider
  /auth/device/poll:
    post:
      summary: Poll for device flow completion
      tags:
        - auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session_id
              properties:
                session_id:
                  type: string
      responses:
        200:
          description: Authorization complete — returns JWT and provider refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        202:
          description: Still pending or slow_down
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [pending, slow_down]
        401:
          description: Authorization failed or denied
  /auth/device/refresh:
    post:
      summary: Refresh device flow JWT using stored provider refresh token
      tags:
        - auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
                - provider
              properties:
                refresh_token:
                  type: string
                  description: Provider refresh token (from /auth/device/poll response)
                provider:
                  type: string
                  description: OAuth2 provider name (e.g. google, github)
      responses:
        200:
          description: New JWT and (possibly rotated) provider refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        401:
          description: Refresh failed — re-authenticate via /auth/device/start
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "JWT Bearer token (8h expiry). Web flow: GET /auth/web/login → GET /auth/web/callback → returns access_token + refresh_token. Renew with POST /auth/web/refresh (refresh token rotation, 30d). Device flow: POST /auth/device/start → POST /auth/device/poll → returns access_token + provider refresh_token. Renew with POST /auth/device/refresh."
  schemas:
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: Sidan JWT (8 hour expiry)
        refresh_token:
          type: string
          description: Refresh token for obtaining a new JWT. Web flow — use POST /auth/token. Device flow — use POST /auth/device/refresh.
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          example: 28800
        member:
          type: object
          properties:
            number:
              type: integer
            email:
              type: string
            name:
              type: string
              nullable: true
        scopes:
          type: array
          items:
            type: string
    APKUploadResult:
      type: object
      properties:
        package_name:
          type: string
          description: Android package name (e.g. com.example.myapp)
        version_code:
          type: integer
          format: int64
        version_name:
          type: string
    FileDescriptor:
      type: object
      properties:
        filename:
          type: string
    MailDescriptor:
      type: object
      properties:
        from_email:
          type: string
          format: email
        to_emails:
          type: array
          items:
            type: string
            format: email
        message:
          type: string
        title:
          type: string
    Entry:
      type: object
      required:
        - msg
      properties:
        id:
          type: integer
          format: int64
        date:
          type: string
          description: Date string
        time:
          type: string
          description: Time string
        datetime:
          type: string
          format: date-time
        msg:
          type: string
        status:
          type: integer
          format: int64
          description: "Entry theme: 0=plain, 1=politik, 2=#27, 3=#44, 4=#31 vs #45, 5=nsfw"
          enum: [0, 1, 2, 3, 4, 5]
          default: 0
          nullable: true
        cl:
          type: integer
          format: int64
        sig:
          type: string
          readOnly: true
          description: Set from bearer token on create
        email:
          type: string
          format: email
          readOnly: true
          description: Set from bearer token on create
        place:
          type: string
        ip:
          type: string
          nullable: true
        host:
          type: string
          nullable: true
        olsug:
          type: integer
          format: int64
          nullable: true
        enheter:
          type: integer
          format: int64
        lat:
          type: number
          format: double
          nullable: true
        lon:
          type: number
          format: double
          nullable: true
        report:
          type: boolean
        likes:
          type: integer
          format: int64
        secret:
          type: boolean
        personal_secret:
          type: boolean
        sidekicks:
          type: array
          items:
            $ref: '#/components/schemas/SideKick'
    SideKick:
      type: object
      properties:
        id:
          type: integer
          format: int64
        number:
          type: string
    Member:
      type: object
      required:
        - number
      properties:
        id:
          type: integer
          format: int64
        number:
          type: integer
          format: int64
        name:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        im:
          type: string
        phone:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        address_url:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        history:
          type: string
          nullable: true
        picture:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
        is_valid:
          type: boolean
          nullable: true
        password_classic:
          type: string
          nullable: true
        password_classic_resetstring:
          type: string
          nullable: true
        password_resetstring:
          type: string
          nullable: true
    ProspectLite:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum: [P, S]
          description: "P = prospect, S = suspect"
        number:
          type: integer
          format: int64
        history:
          type: string
    Prospect:
      type: object
      required:
        - status
        - number
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum: [P, S]
          description: "P = prospect, S = suspect"
        number:
          type: integer
          format: int64
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        history:
          type: string
    Arr:
      type: object
      properties:
        id:
          type: integer
          format: int64
        namn:
          type: string
          description: Name of the event
          nullable: true
        start_date:
          type: string
          description: Start date/time of the event
          nullable: true
        plats:
          type: string
          description: Location of the event
          nullable: true
        organisator:
          type: string
          description: Organizer (member number like #10)
          nullable: true
        deltagare:
          type: string
          description: Comma-separated list of participants
          nullable: true
        kanske:
          type: string
          description: Comma-separated list of maybe participants
          nullable: true
        hetsade:
          type: string
          description: Comma-separated list of invited/reminded members
          nullable: true
        losen:
          type: string
          description: Password for the event
          nullable: true
        fularr:
          type: string
          description: Flag indicating if event is marked as "fularr"
          nullable: true
    Article:
      type: object
      properties:
        id:
          type: integer
          format: int64
        header:
          type: string
          description: Article title/header
          nullable: true
        body:
          type: string
          description: Article body content
          nullable: true
        date:
          type: string
          format: date
          description: Publication date
          nullable: true
        time:
          type: string
          description: Publication time
          nullable: true
        datetime:
          type: string
          format: date-time
          description: Publication date and time
