openapi: 3.0.1
info:
  title: Sidan API
  description: Backend API for sidan - JWT Bearer authentication
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  version: 3.0.0
servers:
  - url: https://api.chalmerslosers.com
    description: Production server
security:
  - BearerAuth: []
  - {}
paths:
  /file/image:
    post:
      summary: Upload an image
      tags:
        - files
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                  format: binary
                  description: Image file (gif, png, jpeg)
              required:
                - data
      responses:
        200:
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDescriptor'
        400:
          description: Bad request or unsupported file type
        401:
          description: Unauthorized - requires write:image scope
  /file/{filename}:
    get:
      summary: Get a static file
      tags:
        - files
      parameters:
        - name: filename
          in: path
          description: Filename of the static resource
          required: true
          schema:
            type: string
      responses:
        200:
          description: Static file served
        404:
          description: File not found
  /mail:
    post:
      summary: Send an email
      tags:
        - mail
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailDescriptor'
      responses:
        200:
          description: Email sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Result:
                    type: string
                    example: "ok"
        400:
          description: Bad request
        401:
          description: Unauthorized - requires write:email scope
  /db/entries:
    get:
      summary: List entries
      tags:
        - entries
      parameters:
        - name: skip
          in: query
          description: Number of entries to skip for pagination
          schema:
            type: integer
            format: int64
            default: 0
        - name: take
          in: query
          description: Number of entries to return
          schema:
            type: integer
            format: int64
            default: 20
      responses:
        200:
          description: List of entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entry'
    post:
      summary: Create a new entry
      tags:
        - entries
      description: Create a new guestbook entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entry'
      responses:
        200:
          description: Entry created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        400:
          description: Bad request
  /db/entries/{id}:
    get:
      summary: Get entry by ID
      tags:
        - entries
      parameters:
        - name: id
          in: path
          description: Entry ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Entry details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        404:
          description: Entry not found
    put:
      summary: Update an entry
      tags:
        - entries
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Entry ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entry'
      responses:
        200:
          description: Entry updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        401:
          description: Unauthorized - requires modify:entry scope
        404:
          description: Entry not found
    delete:
      summary: Delete an entry
      tags:
        - entries
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Entry ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Entry deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        401:
          description: Unauthorized - requires modify:entry scope
        404:
          description: Entry not found
  /db/members:
    get:
      summary: List members
      tags:
        - members
      description: Returns limited member data when unauthenticated, full data with read:member scope
      parameters:
        - name: onlyValid
          description: Only return valid members
          in: query
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: List of members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
    post:
      summary: Create a new member
      tags:
        - members
      security:
        - BearerAuth: []
      description: Create a new member - requires write:member scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
      responses:
        200:
          description: Member created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        401:
          description: Unauthorized - requires write:member scope
        400:
          description: Bad request
  /db/members/{id}:
    get:
      summary: Get member by ID
      tags:
        - members
      description: Returns limited member data when unauthenticated, full data with read:member scope
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Member details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        404:
          description: Member not found
    put:
      summary: Update a member
      tags:
        - members
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
      responses:
        200:
          description: Member updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        401:
          description: Unauthorized - requires write:member scope
        404:
          description: Member not found
    delete:
      summary: Delete a member
      tags:
        - members
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Member deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        401:
          description: Unauthorized - requires write:member scope
        404:
          description: Member not found
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token obtained from OAuth2 authentication flow (/auth/login?provider=google)
  schemas:
    FileDescriptor:
      type: object
      properties:
        filename:
          type: string
    MailDescriptor:
      type: object
      properties:
        from_email:
          type: string
          format: email
        to_emails:
          type: array
          items:
            type: string
            format: email
        message:
          type: string
        title:
          type: string
    Entry:
      type: object
      required:
        - msg
        - sig
      properties:
        id:
          type: integer
          format: int64
        date:
          type: string
          description: Date string
        time:
          type: string
          description: Time string
        datetime:
          type: string
          format: date-time
        msg:
          type: string
        status:
          type: integer
          format: int64
        cl:
          type: integer
          format: int64
        sig:
          type: string
        email:
          type: string
          format: email
        place:
          type: string
        ip:
          type: string
          nullable: true
        host:
          type: string
          nullable: true
        olsug:
          type: integer
          format: int64
        enheter:
          type: integer
          format: int64
        lat:
          type: number
          format: double
          nullable: true
        lon:
          type: number
          format: double
          nullable: true
        report:
          type: boolean
        likes:
          type: integer
          format: int64
        secret:
          type: boolean
        personal_secret:
          type: boolean
        sidekicks:
          type: array
          items:
            $ref: '#/components/schemas/SideKick'
    SideKick:
      type: object
      properties:
        id:
          type: integer
          format: int64
        number:
          type: string
    Member:
      type: object
      required:
        - number
      properties:
        id:
          type: integer
          format: int64
        number:
          type: integer
          format: int64
        name:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        im:
          type: string
        phone:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        address_url:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        history:
          type: string
          nullable: true
        picture:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
        is_valid:
          type: boolean
          nullable: true
        password_classic:
          type: string
          nullable: true
        password_classic_resetstring:
          type: string
          nullable: true
        password_resetstring:
          type: string
          nullable: true
